alembic==0.9.9
bcrypt==3.1.4
cffi==1.11.5
click==6.7
coverage==4.5.1
Flask==0.12.2
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.3
flask-marshmallow==0.8.0
Flask-Migrate==2.1.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.0
marshmallow==2.15.0
marshmallow-sqlalchemy==0.13.2
psycopg2==2.7.4
pycparser==2.18
PyJWT==1.6.1
python-dateutil==2.7.2
python-editor==1.0.3
six==1.11.0
SQLAlchemy==1.2.6
SQLAlchemy-Utils==0.33.2
webargs==2.1.0
Werkzeug==0.14.1
